.containerU{
    background: #D9D9D9;
    height: 100vh;
}
.corpsPrin{
    background: #D9D9D9;
}
/* contenue */
.conte{
    padding-top: 80px;
    display: flex;
    justify-content: space-evenly;
   
}
.Param{
    position: fixed;
    left: 15%;
    z-index: 1;
    overflow: hidden;
}

.Produits{
    position: relative;
    left: 20%;
    padding: 0;
}
.showProduit{
    position: relative;
    left: 20%;
    padding: 0;
}
.imgProfi{
    width: 40px;
    height: 40px;
    border-radius: 100px;
}
.Ecrire{
    width: 370px;
    background: #D9D9D9;
    border: none;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 15px ;
}
.form{
    margin-bottom: 10px;
}
.ajout{
    width: 570px;
    background: #FFFFFF;
    padding: 10px;
/* effeit */

box-shadow: 7px 10px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
.button{
    border-top: 2px solid #FFA800;
    display: flex;
}
.itme1{
   width: 50%;
    display: flex;
}
.span{
    width: 2px;
    background: #D9D9D9;
    margin-top: 5px
}
.btnt{
    margin: auto;
    border: none;
    background: transparent;
}
.btn-ajout{
    margin-left: 10px ;
    border: 1px solid #0000;
    background: #FFA800;
    color: #FFFFFF;
}
.btn-photo{
    margin-left: 10px ;
    color: #FFA800;
}
/* param */
.name{
    display: flex;
    width: 256px;
    padding: 10px;
}
.name p{
    margin-top: 5px;
}
.Param{
    width: 400px;
    height: 85vh;
    background:#FFFFFF;
    border-radius: 20px; 
   filter: drop-shadow(7px 10px 4px rgba(0, 0, 0, 0.25));
}
.showMesserger{
    position: fixed;
    left: 15%;
    z-index: 1;
    overflow: hidden;
    width: 400px;
    height: 85vh;
    background:#FFFFFF;
    border-radius: 20px; 
   filter: drop-shadow(7px 10px 4px rgba(0, 0, 0, 0.25));
}
.profil p{
   padding: 0 10px;
   font-family: 'Arial';
font-style: normal;
font-weight: 400;
}
.profil{
    margin-bottom: 5px;
}
.entreP{
    padding: 5px;
}

.categorys{
    line-height: 8%;
    padding-left: 10px;
}
.ligneCate{
    border-top: 2px solid #FFA800;
    width: 70%;
    height: 2px;
    margin: auto;
}
.liste i{
    color: #FFA800;
}

.liste{
    font-size: 20px;
    line-height: 19px;
}
.categ{
    margin: 10px;
    color: #FFA800;
}
.cp{
    cursor: pointer;
}
.bt, .dispar{
    display: none;
}
@media screen and (max-width: 1004px) {
    .cont{
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
    }
    .bt{
        display: inline;
        margin-top: -2%;
    }
    .btnex{
        margin-left: 15px;
    }
    .showMesserger{
        left: 11%;
        margin: auto;
        width: 80%;
        flex: auto;
    }
    .princ{
    display: flex;
    width: 620px;
    position: relative;
   justify-content: center;
   margin-left: 5%;
   padding:0;

    }
    .profil, .ce, .ling{
        display: none;
    }
    .catacuil{
        display: flex;
        width: 100%;
        margin: 0;
        
    }
    .cp{
        display: flex;
        width: 130px;
        font-size: 20px;
        line-height: 23px;
        margin-left: 20px;
        font-size: 15px;
    }
    .icones{
        margin-top: -5%;
    }
    .Param{
        left: 1%;
        top: 0;
       height: 10vh;
       width: 82%;
       display: flex;
       position: relative;
       margin-bottom: 20px;
       overflow-x: scroll;
       z-index: 2;
       scroll-behavior: smooth;
       justify-content:space-between;
    }
    .Param::-webkit-scrollbar{
        display: none;
    }
    .Produits{
        position: relative;
        left: 0%;
        margin: auto !important;
    }
    .showProduit{
        display: none;
    }
}