.footerP{
    position: relative;
    width: 100%;
    height: 36px;
    left: 0px;
    top: 692px;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    background: #000000;
}
.footerP p{
    font-family: 'Arial';
font-style: normal;
font-weight: 900;
font-size: 70%;
line-height: 28px;
text-align: center;

color: #FFFFFF;
}